* {
    margin: 0;
    padding: 0;
}

.loan-index {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.index-titleBg {
    width: 7.5rem;
    height: 5.92rem;
    background: url(../images/calcularBg.png) no-repeat;
    background-size: 100% 5.92rem;
    position: relative;
}

.index-title {
    width: 100%;
    height: .5rem;
    position: absolute;
    left: 0;
    top: .66rem;
}

.go-back {
    float: left;
    width: .23rem;
    height: .42rem;
    margin: .04rem .24rem;
}

.go-back img {
    width: .20rem;
    height: .40rem;
    float: left;
}

.title-content {
    float: left;
    width: 6.79rem;
    height: .5rem;
    line-height: .5rem;
    text-align: left;
    text-indent: 2.14rem;
    font-size: .36rem;
    font-family: PingFang-SC-Bold, PingFang-SC;
    font-weight: bold;
    color: #FFFFFF;
}

.index-content {
    width: 6.9rem;
    background: #FFFFFF;
    box-shadow: 0px 1px 30px 0px rgba(207, 207, 207, 0.5);
    position: absolute;
    top: 2.79rem;
    left: .3rem;
    /* z-index: 9; */
    border-radius: .2rem;
    margin-bottom: 2.05rem;
}

.content-nav {
    background: url(../images/nav-bg_1.png) no-repeat;
    background-size: 6.9rem .84rem;
    position: absolute;
    left: 0;
    top: 0;
    /* z-index: 99; */
}

.content-nav ul li {
    width: 2.3rem;
    height: .84rem;
    line-height: .84rem;
    list-style: none;
    font-size: .3rem;
    font-family: PingFang-SC-Bold, PingFang-SC;
    font-weight: bold;
    color: #333;
    text-align: center;
    float: left;
}

.loan-typeSelected {
    color: #FB4959 !important;
}

.accordingType {
    width: 6.9rem;
    height: 1.15rem;
    padding: 0 1.13rem;
    line-height: 1.15rem;
    font-size: .26rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #999;
    margin-top: .84rem;
    box-sizing: border-box;
}

.accordingType ul li {
    width: 2.32rem;
    height: 1.15rem;
    text-align: center;
    list-style: none;
    float: left;
}

.accordingTypeSelected {
    color: #333;
}

.accordingTypeSelected span {
    border-bottom: .06rem solid #FB4959;
    padding-bottom: .08rem;
}

.accordingType-project {
    width: 6.9rem;
    padding: .23rem .4rem;
    box-sizing: border-box;
}

.accordingType-project ul li {
    list-style: none;
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    border-bottom: .01rem solid #eee;
}

.accordingType-project ul li div {
    float: left;
    height: 1rem;
    line-height: 1rem;
    font-size: .3rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333
}

.w182 {
    width: 1.82rem;
    text-align: left;
    float: left;
}

.w368 {
    width: 3.68rem;
    text-align: left;
    float: left;
}

.w338 {
    width: 3.38rem;
    text-align: left;
    float: left;
}

.w60 {
    width: .6rem;
    text-align: right;
    float: left;
}

.w428 {
    width: 4.28rem;
    text-align: left;
    float: left;
}

.totalfs {
    font-size: .26rem !important;
    font-family: PingFangSC-Regular, PingFang SC !important;
    font-weight: 400 !important;
    color: #999999 !important;
}

.totalfs-1 {
    font-size: .3rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400 !important;
    /* color: #FB4959 !important; */
}

.totalfs input {
    border: 0px;
    height: .5rem;
    color: #333;
}

.totalfs input::placeholder {
    color: #999;
}

.totalfs input::-webkit-input-placeholder {
    color: #999;
}

.totalfs input::-moz-placeholder {
    color: #999;
}

.totalfs input::-ms-input-placeholder {
    color: #999;
}

.w60 img {
    width: .1rem;
    height: .17rem;
}

.w90 {
    width: .9rem;
    text-align: right;
    float: left;
    font-size: .26rem !important;
    color: #999 !important;
}

.rate input {
    width: .8rem;
    height: .5rem;
    line-height: .5rem;
    border-bottom: 1px solid #999 !important;
    text-align: center;
}

.loan-rateResult {
    font-size: .26rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    /* color: #FB5766; */
}

.restartBtnBg {
    width: 6.1rem;
    height: .95rem;
    padding: .29rem 0 1.59rem 0;
    box-sizing: border-box;
    margin-bottom: .24rem;
}

.restartBtn {
    font-size: .24rem;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #FB5766;
    float: right;
}

.calcBtn {
    width: 6.9rem;
    height: .9rem;
    background: #9C9C9C;
    box-shadow: 0px 19px 30px 0px rgba(181, 181, 181, 0.5);
    border-radius: .45rem;
    position: fixed;
    left: .3rem;
    bottom: .55rem;
    text-align: center;
    line-height: .9rem;
    font-size: .36rem;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #FFFFFF;
    /* z-index: 999; */
}

.lprName-1 {
    height: 0.5rem !important;
    line-height: 0.85rem !important;
    clear: both !important;
}

.lprName-2 {
    height: 0.5rem !important;
    line-height: 0.5rem !important;
    font-size: 0.2rem !important;
    color: #999 !important;
    clear: both !important;
}

.lprNum {
    width: 1.2rem;
    height: .5rem;
    border: 0px;
    border-bottom: 1px solid #999;
    font-size: .3rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
    text-align: center;
}

.upAndDown {
    width: 1.75rem;
    height: .42rem !important;
    background: #EBEFF3;
    border-radius: .3rem;
    margin: .29rem 0;
}

.upAndDown .up {
    width: .9rem;
    height: .42rem;
    background: #FB5766;
    box-shadow: 0px 2px 4px 0px rgba(179, 179, 179, 0.5);
    border-radius: .3rem;
    text-align: center;
    font-size: .2rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: .42rem;
}

.upAndDown .down {
    width: .85rem;
    height: .42rem;
    text-align: center;
    font-size: .2rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #999;
    line-height: .42rem;
}

.jdNum {
    width: 1.23rem;
    height: .42rem !important;
    line-height: .42rem !important;
    text-align: center;
    font-size: .3rem !important;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FB5766 !important;
    border-bottom: 1px solid #999;
    margin: .29rem .2rem;
}

.alert-bg {
    width: 7.5rem;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
}

.loanYear-titleBg {
    width: 7.5rem;
    height: 1.22rem;
    border-radius: .3rem .3rem 0px 0px;
}

.loanYear-title {
    width: 2.6rem;
    height: 1.22rem;
    line-height: 1.22rem;
    text-align: center;
    font-size: .3rem;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #333333;
    float: left;
}

.promptBox {
    height: .8rem;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0px .02rem .04rem 0px rgba(0, 0, 0, 0.5);
    border-radius: .04rem;
    font-size: .28rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: .8rem;
    position: fixed;
    left: 1.9rem;
    top: 6.21rem;
    padding: 0 .3rem;
}

.promptBox img {
    width: .3rem;
    height: .3rem;
    margin: .25rem .15rem .25rem 0;
}

.promptBox_1 {
    height: .8rem;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0px .02rem .04rem 0px rgba(0, 0, 0, 0.5);
    border-radius: .04rem;
    font-size: .28rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: .8rem;
    position: fixed;
    left: 1rem;
    top: 6.21rem;
    padding: 0 .3rem;
}

.promptBox_1 img {
    width: .3rem;
    height: .3rem;
    margin: .25rem .15rem .25rem 0;
}

.activeBtn {
    background: linear-gradient(50deg, #FFEDBC 0%, #ED254D 100%) !important;
}

#first_houseRate {
    border: 0;
    height: .5rem;
    /* color: #FB4959; */
    font-size: .3rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    float: left;
    margin: .24rem 0;
}

input:focus {
    outline: none;
}

input {
    outline: none;
    border: 0px !important;
    font-size: .28rem;
    /*去掉input在iphone出现默认边框*/
    box-shadow: none;
    -webkit-appearance: none;
    border-radius: 0px;
}

.marTop120 {
    margin-top: -1.2rem;
}

a:link,
a:active,
a:visited,
a:hover {
    background: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    -webkit-tap-highlight-color: transparent !important;
}

#first_houseRate::placeholder {
    color: #999;
    font-size: .28rem;
}

#first_houseRate::-moz-placeholder {
    color: #999;
    font-size: .28rem;
}

#first_houseRate::-ms-input-placeholder {
    color: #999;
    font-size: .28rem;
}

#first_houseRate::-webkit-input-placeholder {
    color: #999;
}